@charset "utf-8";

ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, "游ゴシック", YuGothic, "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #fff6ef; */
    margin: 0;
}

div#content {
    display: flex;
}

div#home-content {
    width: 300px;
    left: 350px;
/*    position: relative; */
    position: fixed;
    z-index: 100;
}

.fixed {
    position: fixed;
}

div#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    background: linear-gradient(170deg, #ffd5a3 3%, #fff6ef 10%, #fff6ef);
}

div#bar-line {
    position: fixed;
    top: 420px;
    left: 200px;
    width: 600px;
    height: 10px;
    background: linear-gradient(to right, #fff6ef 10% , #ffd5a3 40%, #fff6ef);
}

div#golden-ratio {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: auto;
    display: none;
}

div#golden-ratio img {
    width: 100%;
    height: auto;
}

div#logo-word {
    margin: 110px 0px 0 30px; /* 左が (300-240)/2 */
}

div#logo-word img {
    width: 240px;
}

div#logo {
    margin: 64px 0 0 53px; /* 左が (300-194)/2 */
    width: 194px;
}

div#icon-container {
    margin: 58px auto 0;
    display: flex;
    justify-content: center;
}
.icon {
    display: inline-block;
    margin: 0 10px 0;
}
.icon img {
    width: 40px;
}

.clickable img {
    transition-duration: 0.2s;
}

.clickable img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.2s;
}

div#contact {
    width: 600px;
    height: 550px;
    position: fixed;
    border: 2px solid #FFBF00;
    background-color: #FFF;
    display: none;
    z-index: 2;
    /*text-align: center;*/
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 165, 0, 0.3);
    display: none;
    z-index: 1;
}
button {
  width: 100px;
  height: 50px;
  font-size: 1.2em;
  color: #FFBF00;
  background-color: #FFF;
  border: solid 2px #FFBF00;
  border-radius: 3px;
  transition: .4s;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

ul.style-none {
    width: 500px;
    margin: 0 auto;
}

ul.style-none li {
    list-style: none;
    margin-top: 30px;
}

li input {
    height: 24px;
}

.form-label {
    margin-right: 10px;
    width:100px;
    float: left;
}

div#detail-content {
    width: 600px;
    position: relative;
    top: 0;
    left: 700px;
    display: none;
    margin: 0 0 0 290px;
}

div#detail-company {
    position: absolute;
    top: 20px;
    display: none;
}

div#detail-company ul {
    position: relative;
    left: 50px;
}

div#detail-service {
    position: absolute;
    top: 20px;
    display: none;
}

div#detail-service ul {
    position: relative;
    left: 50px;
}

div#detail-contact {
    position: absolute;
    top: 20px;
    display: none;
}

img{
    -webkit-backface-visibility: hidden;
}
