@charset "utf-8";

body {
    font-family: Roboto, "游ゴシック", YuGothic, "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

div#content {
    width: 1280px;
    background: #f2f2f2;
    margin: 0 auto;
}
div#logo {
    width: 193px;
    margin: 200px auto 0;
}
div#logo-word {
    width: 214px;
    margin: 10px auto 0;
}
